html{ 
background:url(../imagenes/index-color.jpg)  no-repeat center center fixed;   background-size: cover;   height: 100%;   overflow: hidden;
}
.btn{
    border: none;
    width: 200px;
    padding: 5px 15px;
    height: 30px;
    background:#17100C ;
    margin: 40px 0px;
    color: #FFF;
	}
	
.insta{ background-image: url(../imagenes/images/insta.png) ;}
.tw{ background-image:url(../imagenes/images/tw.png) ;}
.gog{ background-image:url(../imagenes/images/gog.png) ;}
.face{ background-image:url(../imagenes/images/face.png) ;}

.sociales{
	display:inline-block;
    float:none;
    width:57px;
    height:72px;
	background-color:transparent;
	border:none;}
