/* CSS Document */

body {
 	}
.blanco{background-color:#FFF;}
.verde{background-color:#1e1814;
    margin-top: 0px;
    margin: 0px;
	
}
#principal {
	width: 960px;
	height:1200px;
    margin:auto 190px;
	background-image:url(../imagenes/images/fondovinos.png);
	s
	
}

#menu {
	height: 0px;
	border:0px;
	soild: #FFF;
	margin:0px solid #000000 ;
}

ul {
	
	color:#fff;
	list-style: none;
	display: list-item;
	float: right;
    margin:0px  ;
	padding:0px;
    border: 0px;
	
		
	
	
}

li {
	float:left;
	margin-left:50px;
	padding:10px;
	font:titulos;
	
	}
.textositio {
	font-family: "Antipasto ExtraLightTrial";
	font-size: 14px;
	color: #FFF;
}

#footer{
	background-color:#1e1814;
	height:180px;
	width:900px;
	padding:30px;

	}
	.contenedor-titulo{
	margin-right::70px;
	border-left: 10px  solid #300;
	padding-left:10px;
	margin-top:40px;
	
}
.promos{
	margin-left:0px;
	margin-top:20px;

}